* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

body{
    background-color: blanchedalmond;
}

.container{
    width: 600px;
    background-color: darkcyan;
    margin: 100px auto;
    border-radius: 10px;
}

.container h1{
    margin-bottom: 20px;
    text-align: center;
}

.container form input{
    display: block;
    width: 500px;
    margin-bottom: 10px;
    height: 30px;
    color: black;
}

.container form button{
    display: block;
    width: 500px;
    margin-top: 20px;
    height: 30px;
    background-color: darkgreen;
    border-radius: 20px;
}

.formatar-tamanho{
    margin-left: 50px;
}

.container p{
    padding: 2px;
    text-align: center;
    margin-right: 50px;
}

.editar-p{
    font-size: 20px;
    font-weight: bold;
}